<!DOCTYPE html>
<html lang="en">
	<head>
		<!--
			Stefano Martinelli - 812155
			TWebShop è un sito di e-commerce che vende smartphone attraverso un catalogo sempre
			aggiornato e in continua espansione.
			Vengono trattati i brand più noti presenti sul mercato, come ad esempio Apple, Samsung e
			Huawei.
		-->
		<title>TWebShop</title>
		<meta charset="utf-8" >
		<link href="../img/icons/icon.png" type="image/png" rel="shortcut icon">
		<link href="css/gfx.css" type="text/css" rel="stylesheet">
		<link href="css/navbarfooter.css" type="text/css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous">
		</script>
		<script src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.9.0/scriptaculous.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic'
			rel='stylesheet' type='text/css'>
		<script src="../controller/js/navbar.js"></script>
		<script src="../controller/js/footer.js"></script>
		<script src="../controller/js/users/loginregister.js"></script>
		<script src="../controller/js/users/logout.js"></script>
	</head>
	<body>
