RewriteEngine On

# remove ChildFolder from URL show in browser
RewriteCond %{THE_REQUEST} \s/+/view/(\S*)\s [NC]
RewriteRule ^ /%1/%2 [R=301,NE,L]

# add ChildFolder internally

RewriteRule ^$ view/ [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(?!view/).*$ view/$0 [L,NC]